extends layout

block content
  h1= title
  p Welcome to the Courses API :)
  h2 How to use: 
  h3 View all courses:
  p localhost:3000/courses
  h3 View specific course:
  p localhost:3000/courses/id
  h3 HTML-site with courses: 
  p localhost:3000/courses.html
